<div class="row">
    <% @projects.each do |project| %>
        <div class="col-md-4">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-speech"></i>
                        <span class="caption-subject bold uppercase font-green-sharp"> <%= project.title %></span>
                    </div>
                    <div class="actions">
                        <%= link_to edit_project_path(project), class: "btn btn-circle btn-default" do %>
                            <i class="fa fa-pencil"></i> Edit
                        <% end %>
                        <%= link_to project, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-circle btn-default red-sunglo" do %>
                            <i class="fa fa-plus"></i> Delete
                        <% end %>
                        <a href="javascript:;" class="btn btn-circle btn-icon-only btn-default fullscreen" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body" style="height: auto;">
                    <div class="scroller" style="height:300px"
                         data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-12 "><strong>Sponsor Name :</strong></label>
                                <div class="col-sm-12">
                                    <%= project.sponsor.name %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12"><strong>Goal :</strong></label>
                                <div class="col-sm-12">
                                    <%= project.goal %>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-12"><strong>Start Date</strong></label>
                                <div class="col-sm-12">
                                    <%= project.start_date %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 "><strong>Sponsor Name :</strong></label>
                                <div class="col-sm-12">
                                    <%= project.end_time %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
    <% end %>
</div>


